* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex: auto;
  height: 820px;
}

footer {
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: bolder;
}
.container,
.board-container,
.restart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  font-size: 5rem;
  font-weight: bolder;
  /* margin-top: 1rem; */
  /* Make text gradient */
  background: linear-gradient(-90deg, #F9E090,#FF935C,#DC5353,#A72461);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  filter: drop-shadow(5px 5px 10px #666);
}

button[type='button'] {
  margin: 0 1rem;
  padding: 0.5rem 2rem;
  width: 14rem;
  font-size: 1.5rem;
  font-weight: bolder;
  border-radius: 1rem;
  border: none;
  color: white;
  opacity: 0.7;
}

button[type='button']:hover {
  cursor: pointer;
  opacity: 1;
}

.ai {
  background-color: rgb(108, 155, 207);
}

.twoPlayer {
  background-color: rgb(87, 197, 182);
}

.turn {
  font-size: 2rem;
  color: white;
}

.restart {
  background-color: red; /*For browsers that do not support gradients*/
  background-image: linear-gradient(-90deg, #F9E090,#FF935C,#DC5353,#A72461);
  margin-top: 1rem;
}

.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* border: 1px solid black; */
    border: none;
    gap: 2px;
    padding: 2px;
    background-color: black;
  }
  
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: none;
    background:  rgb(87, 197, 182);
    cursor: pointer;
}

.result {
  color: rgb(255, 132, 0);
}

.blueCell {
  background-color: rgb(108, 155, 207);
}